<%- include ('partials/navbar.ejs') %>
    <%- include ('partials/header.ejs') %>

        <div class="wrapper">
            <div class="circle"></div>
            <div class="organic-shape-1"></div>
            <div class="organic-shape-2"></div>
            <div class="organic-shape-3"></div>
            <div class="circle" style="margin-left: 1200px;"></div>
            <h1 class="title-home">Bem vindo!</h1>
            <h1 class="subtitle" style=" position: relative;
            top: 100px;">Somos a marca número um em moda sustentável no mundo!</h1>
            <p class="label"></p>
            <img src="/imgs/img.jpeg" alt="moda.jpeg" class="img">
        </div>
        <%- include ('partials/footer.ejs') %>